.mainContainer {
  padding: var(--spacing-m);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: var(--text-color);
  overflow-y: auto;
  flex: 1
}
