.mainContainer {
  padding: var(--spacing-medium);
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: white;
}
