/* Fade-in Effect */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Typing Effect */
.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  border-right: 2px solid whitesmoke;
  animation: typing 3s steps(30, end) 0.5s forwards,
    blink 1s steps(1, end) 0.5s 4 forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: whitesmoke;
  }
  100% {
    border-color: transparent;
  }
}
