.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typing-effect {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: fit-content;
  border-right: 2px solid transparent;
  --typing-duration: 5s;
  --cursor-delay: -0.6s;
  animation: typing var(--typing-duration) steps(100, end) var(--delay) forwards,
    blink-cursor var(--typing-duration) steps(100, end) calc(var(--delay) - 0.8s)
      forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-cursor {
  0%, 100%  {
    border-color: transparent;
  }
  50% {
    border-color: var(--text-color);
  }
}

.type-delete-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  max-width: fit-content;
  border-right: 2px solid var(--text-color);
  animation: typing-erase var(--switch-time) steps(50, end) infinite,
    blink-cursor 0.75s step-end infinite;
}

@keyframes typing-erase {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
