
/* Fade-in Effect */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


/* Typing Effect */
.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  max-width: fit-content;
  border-right: 2px solid var(--text-color);  
  --typing-duration: 3s;
  animation: 
    typing var(--typing-duration) steps(30, end) var(--delay) forwards,
    blink var(--typing-duration) steps(30, end) var(--delay) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: var(--text-color); /* Cursor visible */
  }
  to {
    border-color: transparent; /* Cursor invisible */
  }
}
