.header {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: var(--spacing-s) var(--spacing-m);
  justify-content: space-between;
  background-color: var(--primary-color);
}

.title {
  font-size: var(--font-size-title);
}

.navList {
  display: flex;
  gap: var(--spacing-l);
}

.navList a {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--transition-duration);
}

.navList a:hover {
  color: var(--accent-color);
}

.navList a.activeNav {
  font-weight: bold;
  outline-offset: 4px;
  text-underline-offset: 4px;
  text-decoration: underline dashed var(--accent-color);
}