.header {
  padding: var(--spacing-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  gap: var(--spacing-medium);
}

.navList a {
  font-weight: bold;
}