.footer {
  margin-top: auto;
  text-align: center;
  color: var(--text-color);
  padding: var(--spacing-s);
  font-size: var(--font-size-s);
  background-color: var(--primary-color);
}

.footer p {
  margin: 0;
  line-height: var(--line-height);
  font-size: var(--font-size-s);
}
